* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  transition: 0.3s all ease-in-out;
}

body {
  background: #f2f2f2;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

input,
textarea,
button {
  outline: none;
}

button:focus {
  outline: none;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}
.r-table {
  min-width: 300px;
  overflow: hidden;
  overflow-x: auto;
}
/* ALEAR BOXES */
.alert-box {
  color: #555;
  font-size: 14px;
  padding: 10px;
  margin: 10px 0px;
}

.alert-box span {
  font-weight: bold;
  text-transform: uppercase;
}

.error {
  background: #ffecec;
  border: 1px solid #f5aca6;
}

.success {
  background: #e9ffd9;
  border: 1px solid #a6ca8a;
}

.warning {
  background: #fff8c4;
  border: 1px solid #f2c779;
}

.notice {
  background: #e3f7fc;
  border: 1px solid #8ed9f6;
}

/* BADGES */
.badge {
  font-weight: 500;
  border-radius: 0px;
  padding: 5px 7px;
  font-size: 72%;
  letter-spacing: 0.3px;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 3.5px;
}

.badge.info {
  background: #effafb;
  color: #1ebccd;
  border: 1px solid #62d6e2;
}

.badge.info a {
  color: #1ebccd;
}

.badge.primary {
  background: #f8fbff;
  color: #3b5998;
  border: 1px solid #3b5998;
}

.badge.primary a {
  color: #3b5998;
}

.badge.success {
  background: #eff9f2;
  color: #22af47;
  border: 1px solid #47d26b;
}

.badge.success a {
  color: #22af47;
}

.badge.danger {
  background: #fff1f1;
  color: #f83f37;
  border: 1px solid #ffa39f;
}

.badge.danger a {
  color: #f83f37;
}

.badge.warning {
  background: #fff8eb;
  color: #ffbf36;
}

.badge.warning a {
  color: #ffbf36;
}

.fix {
  overflow: hidden;
}

.clear {
  clear: both;
}

.aligncenter {
  text-align: center;
}

.alignleft {
  text-align: left;
}

.alignright {
  text-align: right;
}

/* Leaflet map Styling */
#map{
  height: 100vh; 
  width:100%;
}

.leaflet-popup{
  width:250px;
}

.leaflet-content-wrapper{
  width:230px;
}

/* Leaflet legend styling */
.legend {
  padding: 6px 8px;
  font: 12px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #555;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legend ul {
  padding: 0;
  margin: 0;
  clear: both;
  list-style-type: none;
}

.legend li {
  display: inline-block;
  width: 30px;
  height: 22px;
}

.legend .min {
  float: left;
  padding-bottom: 5px;
}

.legend .max {
  float: right;
}

h1 {
  text-align: center;
}
