<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
  <title>Road Trippin'</title>
  <!-- Leaflet CSS & JS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>
  <!-- CSS FILES -->
  <!-- <link rel="stylesheet" href="../static/css/bootstrap.min.css"> -->
  <!-- <link rel="stylesheet" href="../static/css/style.css"> -->
  <!-- <link rel="stylesheet" href="../static/css/responsive.css"> -->
</head>

<style>
  /* .leaflet-popup-content-wrapper{
    background-color: white;
    opacity: 0.9;
  }
  .leaflet-popup-tip {
    background:white;
    opacity: 0.9;
  }
  p
  {
    margin:0;
    padding:0;
  } */

  #map {
    height: 200px;
  }
  </style>

<body>
  <!-- BODY STARTS -->

  <!-- HEADER START-->
  <header class="site-header">
    <div class="container-fluid">
      <!-- HEADER CONTENTS HERE -->
    </div>
  </header>
  <!-- HEADER END-->

  <!-- US MAP (BY STATE) START-->
  <section class="us-map">
    <div class="container-fluid">
      <div id="map">
        <!-- MAP CONTENTS WILL BE HERE -->
      </div>
    </div>
  </section>
  <!-- US MAP ENDS-->

  <br>
  <br>

  <!-- 3 COL -->
  <section class="state_data">
    <div class="container-fluid">
      
      <!-- STATE DROP DOWN -->
      <div class="row">
        <div>
          <label for="selState">
            <h5 style="padding-top: 15px; padding-left: 15px; padding-right: 15px;">STATE X STATE:</h5>
          </label>
          <select id="selState" name="selState" onchange="stateChanged(this.value)"></select>
        </div>
      </div>

      <div class="row">

        <!-- LEFT COLUMN -->
        <div class="col-lg-5 card">
          <div id="state_map">
            <!-- STATE MAP (Bridge Location) -->
          </div>
        </div>
        <!-- LEFT COLUMN ENDS -->

        <!-- MIDDLE COLUMN -->
        <div class="col-lg-2 card" id="state_stats" style="padding: 15px;">
          <h4>Statistics</h4>
          <hr class="my-1">
          <i style="font-size:11pt;">Bridges:</i>
          <div id="state_bridges" style="padding: 0; margin: 0;">
            <!-- STATE MAP (Bridge Location) -->
          </div>
          <i style="font-size:11pt;">Roads:</i>
          <div id="state_roads">
            <!-- STATE MAP (Bridge Location) -->
          </div>
          <i style="font-size:11pt;">Tunnels:</i>
          <div id="state_tunnels">
            <!-- STATE MAP (Bridge Location) -->
          </div>
        </div>
        <!-- LEFT COLUMN ENDS -->

        <!-- RIGHT COLUMN START -->
        <div class="col-lg-5 card">
          <div id="state_charts">
            <!-- STATS / CHARTS / BRIDGE ACCIDENTS -->
          </div>
        </div>
        <!-- RIGHT COLUMN ENDS -->
      </div>
    </div>
  </section>
  <!-- 3 COL -->

  <br>
  <br>

  <!-- 3 COL -->
  <section class="3_col">
    <div class="container-fluid">
      <div class="row">

        <!-- LEFT COLUMN -->
        <!-- <div class="col-lg-4"> -->
          <!-- <div id="state_spending"> -->
            <!-- STATE SPENDING -->
          <!-- </div> -->
        <!-- </div> -->
        <!-- LEFT COLUMN ENDS -->

        <!-- MIDDLE COLUMN -->
        <div class="col-lg-6 card" style="padding: 15px;">
          <div>
            <select id="selNational" onchange="domesticChanged(this.value)"></select>
          </div>
          <div id="gross_spending"></div>
        </div>
        <!-- LEFT COLUMN ENDS -->

        <!-- RIGHT COLUMN START -->
        <div class="col-lg-6 card" style="padding: 15px;">
          <div>
            <select id="selGlobal" onchange="globalChanged(this.value)"></select>
          </div>
          <div id="global_spending"></div>
        </div>
        <!-- RIGHT COLUMN ENDS -->
      </div>
    </div>
  </section>
  <!-- 3 COL -->

  <!-- CRASHES TABLE START -->
  <section class="crashes">
    <div class="container">
      <div id="r-table">
        <!-- TABLE GOES HERE (CAR CRASHES TABLE) -->
      </div>
    </div>
  </section>
  <!-- CRASHES TABLE ENDS -->

  <!-- CRASHES TABLE START -->
  <section class="mechine_learning">
    <div class="container">
        <!-- MACHINE LEARNING CONTENTS HERE -->
    </div>
  </section>
  <!-- CRASHES TABLE ENDS -->

  <!-- FOOTER START-->
  <footer class="site-footer">
    <div class="container">
      <!-- Footer Contents Here -->
    </div>
  </footer>
  <!-- FOOTER END-->

  <!-- SCRIPTS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="../static/js/config.js"></script>
  <!-- <script src="../static/js/statemap.js"></script> -->
  <!-- <script src="../static/js/statedata.js"></script> -->
  <!-- <script src="../static/js/investment.js"></script> -->
  <script src="../static/js/pothole.js"></script>
  <!-- BODY ENDS -->

  <!-- SCRIPTS GOES BEFORE BODY -->

</body>
</html>
