<!DOCTYPE html>
<html lang="en-us">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Road Trippin</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js" integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q==" crossorigin=""></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css" />

  </head>

  <style>
    #us_map {
      height: 600px;
      width: 100%;
    }
    #map {
      height: 600px;
      width: 100%;
    }
  </style>

  <body>
    <section class="us_data">
      <div class="container-fluid">
        <div id="us_map">
        </div>
      </div>
    </section>

    <br>
    <br>

    <section class="state_data">
      <div class="container-fluid">
        <div class="row">
          <div>
            <label for="selState">
              <h5 style="padding-top: 15px; padding-left: 15px; padding-right: 15px;">STATE X STATE:</h5>
            </label>
            <select id="selState" name="selState" onchange="stateChanged(this.value)"></select>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-5 card">
            <div id="state_map">
            </div>
          </div>
          <div class="col-lg-2 card" id="state_stats" style="padding: 15px;">
            <h4>Statistics</h4>
            <hr class="my-1">
            <i style="font-size:11pt;">Bridges:</i>
            <div id="state_bridges" style="padding: 0; margin: 0;">
            </div>
            <i style="font-size:11pt;">Roads:</i>
            <div id="state_roads">
            </div>
            <i style="font-size:11pt;">Tunnels:</i>
            <div id="state_tunnels">
            </div>
          </div>
          <div class="col-lg-5 card">
            <div id="state_charts">
            </div>
          </div>
        </div>
      </div>
    </section>

    <br>
    <br>

    <section class="2_col">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 card" style="padding: 15px;">
            <div>
              <select id="selNational" onchange="domesticChanged(this.value)"></select>
            </div>
            <div id="gross_spending"></div>
          </div>
          <div class="col-lg-6 card" style="padding: 15px;">
            <div>
              <select id="selGlobal" onchange="globalChanged(this.value)"></select>
            </div>
            <div id="global_spending"></div>
          </div>
        </div>
      </div>
    </section>

    <br>
    <br>

    <div class="container-fluid">
      <div class="card-body" id="map"></div>
    </div>
    <div id="map"></div>

    <!-- JS Code -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <!-- <script type="text/javascript" src="../static/js/potholes.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript" src="../static/js/choropleth.js"></script>
    <script type="text/javascript" src="../static/js/usmap.js"></script>
    <!-- <script type="text/javascript" src="../static/js/statedata.js"></script> -->
    <!-- <script type="text/javascript" src="../static/js/investment.js"></script> -->
  </body>

</html>
